/* 기본 요소의 속성 변경 */
html, body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}
body {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #373a3c;
  /* 본문의 좌/우에 10px씩 내부 여백 지정 */
  padding: 0 10px;
}
a {
  color: #0275d8;
  text-decoration: none;
}
table {
  /* border: 1px solid black; */
}
td {
  /* border: 1px solid red; */
}
img {
  max-width: 100%;
}

/* 실제 본문 스타일 */
/* 최근 수정 일자 */
p.modified-datetime {
  text-align: right;
}

/* 분류 모음 리스트 */
/* > : 자식선택자 */
.category-container {
  /* 분류: ... | ... | ... 을 포함하는 박스에 테두리 */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px;
  padding-left: 5px;
}
.category-container > ul {
  /* 리스트 아이템의 bullet을 없앰 */
  list-style-type: none;
}

/* 동음이의어(또는 연관)문서 링크 */
.related-document-container {
  /* 아래여백 */
  margin-bottom: 15px;
}
/* 좌측 초록색 화살표의 크기 */
.related-document-container > img.img-arrow {
  width: 21px;
  margin-right: 4px;
}
/* 자식 요소들의 수직 정렬 기준을 모든 요소들의 수직중앙을 기준으로 함 */
.related-document-container > * {
  vertical-align: middle;
}

/* 정보 테이블 */
table.info-table {
  /* table요소의 기본 display속성은 'table'
  block으로 바꾸어 max-width설정이 적용되도록 변경 */
  display: block;
  width: 600px;
  max-width: 100%;
  /* 테이블 전체의 갈색 테두리 */
  border: 2px solid #b38b6e;
  /* 테이블 내의 셀들이 서로 떨어지지 않고 붙도록 설정 */
  /* border-spacing: 0; 을 사용하면 border가 중복됨 */
  border-collapse: collapse;
  text-align: center;
  /* 테이블 배경색은 흰색이 아니라 아주아주옅은 회색 */
  background-color: #f5f5f5;
}
table.info-table td {
  /* 모든 셀에 회색 테두리를 상단에만 */
  border-top: 1px solid #dddddd;
  /* 각 셀은 내부 여백을 가짐 */
  padding: 5px 10px;
  /* 줄바꿈을 유지시킴 */
  white-space: pre-line;
}
/* 테이블에서 첫 번째 tr의 첫 번째 td */
/* border-top과 background-color를 해제 */
table.info-table tr:nth-of-type(1) > td:nth-of-type(1) {
  border-top: none;
  background-color: inherit;
  /* 이미지 위의 쓸데없는 공백부분 제거 */
  line-height: 0;
}
/* 테이블의 각 tr요소의 첫 번째 자식 td */
table.info-table tr > td:nth-of-type(1) {
  background-color: #b38b6e;
  color: #fff;
  font-weight: bold;
}