html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: #585858;
  text-decoration: none;
}

header.main-header {
  height: 61px;
  border-bottom: 1px solid #e7e7e7;
}

header.main-header ul.header-menu-list li {
  float: left;
  line-height: 61px;
}

header.main-header ul.header-menu-list li img {
  vertical-align: middle;
}

header.main-header ul.left {
  height: 100%;
  float: left;
}

header.main-header ul.left li > a {
  padding: 0 15px;
}

header.main-header .right {
  height: 100%;
  float: right;
}

header.main-header .right .header-menu-list {
  float: left;
}

header.main-header .right .header-menu-list li > a {
  padding: 0 15px;
}

header.main-header .right .header-menu-list.room-list {
  font-size: 14px;
  margin-right: 12px;
}

header.main-header .right .header-menu-list.auth-list {
  font-size: 12px;
}

.search-container {
  position: relative;
  height: 678px;
  background-position: center center;
}

.search-container > .search-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 110px;
}

.search-container > .search-bottom > .input-container {
  width: 534px;
  margin: 30px auto 0;
}

.search-container > .search-bottom > .input-container > * {
  box-sizing: border-box;
  float: left;
  height: 50px;
  border: none;
}

.search-container > .search-bottom > .input-container input {
  width: 434px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 14px;
  color: #585858;
  padding: 0 20px;
}

.search-container > .search-bottom > .input-container button {
  width: 100px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #3b8de0;
  font-size: 15px;
  color: #fff;
}

.theme-container {
  width: 960px;
  margin: 0 auto;
}

.theme-container .theme-list li.theme {
  float: left;
  width: 32%;
  padding-top: 32%;
  position: relative;
  margin-right: 2%;
  box-sizing: border-box;
}

.theme-container .theme-list li.theme:nth-of-type(3n) {
  margin-right: 0;
}

.theme-container .theme-list li.theme > .theme-content {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.theme-container .theme-list li.theme > .theme-content:hover > .mask {
  background-color: rgba(0, 0, 0, 0.2);
}

.theme-container .theme-list li.theme > .theme-content:hover > .bg {
  transform: scale(1.3);
}

.theme-container .theme-list li.theme > .theme-content:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.theme-container .theme-list li.theme > .theme-content > .bg, .theme-container .theme-list li.theme > .theme-content .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition-duration: .5s;
}

.theme-container .theme-list li.theme > .theme-content > .bg {
  background-size: cover;
}

.theme-container .theme-list li.theme > .theme-content > .mask {
  background-color: rgba(0, 0, 0, 0.5);
}

.theme-container .theme-list li.theme > .theme-content > .typo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  color: #fff;
}

.theme-container .theme-list li.theme.vertical-table > .theme-content > .outer {
  display: table;
  width: 100%;
  height: 100%;
}

.theme-container .theme-list li.theme.vertical-table > .theme-content > .outer > .inner {
  display: table-cell;
  vertical-align: middle;
}
