html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: #585858;
  text-decoration: none;
}

header.main-header {
  height: 61px;
  border-bottom: 1px solid #e7e7e7;
}

header.main-header ul.header-menu-list li {
  float: left;
  line-height: 61px;
}

header.main-header ul.header-menu-list li img {
  vertical-align: middle;
}

header.main-header ul.left {
  height: 100%;
  float: left;
}

header.main-header .right {
  height: 100%;
  float: right;
}

header.main-header .right .header-menu-list {
  float: left;
}

header.main-header .right .header-menu-list li > a {
  padding: 0 15px;
}

header.main-header .right .header-menu-list.room-list {
  font-size: 14px;
}

header.main-header .right .header-menu-list.auth-list {
  font-size: 12px;
}
