html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header.main-header {
  ul.left {
    li {
      float: left;
    }
  }
  ul.right {
    // ul요소 자체가 우측으로 가도록 정렬
    float: right;
    // ul요소 내부에서 li들이 왼쪽 기준으로 정렬
    li {
      float: left;
    }
  }
}

