html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

$header-nav-height: 61px;
$header-border-color: #e7e7e7;

header.main-header {
  height: $header-nav-height;
  border-bottom: 1px solid $header-border-color;
  
  ul.header-menu-list {
    li {
      // ul요소 내부에서 li들이 왼쪽 기준으로 정렬
      float: left;
      // 세로길이 만큼의 줄 간격을 설정해서 수직 중앙 정렬
      line-height: $header-nav-height;
      img {
        // 이미지들은 각각의 height값이 전부 다르기 때문에 각 이미지들의 
        // 수직 중앙 부분을 기준으로 정렬되도록 vertical-align설정
        vertical-align: middle;
      }
    }
  }
  ul.left {
    height: 100%;
    float: left;
  }
  ul.right {
    height: 100%;
    // ul요소 자체가 우측으로 가도록 정렬
    float: right;
  }
}

