$color-a: #585858;
html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  color: $color-a;
  text-decoration: none;
}

$header-nav-height: 61px;
$header-border-color: #e7e7e7;
header.main-header {
  height: $header-nav-height;
  border-bottom: 1px solid $header-border-color;
  
  // header에서 사용하는 모든 리스트에 해당
  ul.header-menu-list {
    // header의 모든 리스트 아이템들은 
    //   왼쪽 기준 수평 정렬
    //   $header-nav-height(61px)의 줄 간격을 가짐
    //     -> 수직 중앙 정렬에 사용
    li {
      float: left;
      line-height: $header-nav-height;
      img {
        // 이미지들은 각각의 height값이 전부 다르기 때문에 각 이미지들의 
        // 수직 중앙 부분을 기준으로 정렬되도록 vertical-align설정
        vertical-align: middle;
      }
    }
  }
  
  // header의 좌측 메뉴
  //   메인로고, 다방프로 로고를 포함
  ul.left {
    height: 100%;
    float: left;
    
    li > a {
      padding: 0 15px;
    }
  }
  
  // header의 우측 메뉴
  //   .room-list, .auth-list 2개의 리스트를 자식으로 가짐
  .right {
    height: 100%;
    float: right;
    
    .header-menu-list {
      float: left;  
      li > a {
        padding: 0 15px;
      }
      // 방 검색, 관심목록, 방 등록 리스트
      &.room-list {
        // 체인선택자 (두 선택자가 모두 있는 요소를 가리킴)
        //   .header-menu-list.room-list
        font-size: 14px;
        margin-right: 12px;
      }
      // 회원가입/로그인 리스트
      &.auth-list {
        //   .header-menu-list.auth-list
        font-size: 12px;
      }
    }
  }
}

$search-container-height: 678px;
.search-container {
  height: $search-container-height;
  background-position: center center;
}